.grid-index {
  display: grid;
  grid-template-columns: 100%;
}
.box2 {
  margin: 0 auto;
  height: 486px;
  width: 300px;
  border-radius: 20px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#clocked_alerts {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  height: 340px;
  width: 276px;
  margin: 0 auto;
  padding: 10px;
  background-color: #fff;
  line-height: 20px;
  overflow-y: scroll;
  hyphens: auto;
}

/* Clock */
/* #clockin:hover {
  background-color: #1b7935;
}
#clockout:hover {
  background-color: #7c0e0e;
} */
#clock_in_buttons_area {
  position: relative;
  margin: 0 auto;
  width: 260px;
  height: 66px;
  border: 2px solid black;
  margin-top: 20px;
}

.clockin-button {
  position: absolute;
  width: 130px;
  height: 30px;
  color: white;
  border: none;
  font-family: arial;
  font-size: 16px;
  color: #111;
  cursor: pointer;
}

#infoclock {
  line-height: 20px;
}
#clockin {
  background: linear-gradient(#4ae478, #239c45);
  /* background-color:rgb(117, 252, 117); */
  margin-left: -130px;
}
#clockout {
  background: #423d3d;
}
.clockStyle2 {
  top: -50px;
  margin: 0 auto;
  width: 262px;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 20px;
  height: 60px;
}

@media only screen and (min-width: 460px) {
  .box2 {
    width: 400px;
  }
  #clock_in_buttons_area {
    width: 360px;
    height: 96px;
  }
  .clockin-button {
    width: 180px;
  }
  #clockin {
    margin-left: -180px;
  }
  .clockStyle2 {
    width: 362px;
    font-size: 41px;
    top: -60px;
  }
}

#user-clock {
  font-size: 42px;
  color: rgb(204, 250, 250);
  /* text-shadow : horizontal-shadow vertical-shadow blur rgb(204, 250, 250), horizontal-shadow vertical-shadow blur rgb(204, 250, 250); */
  text-shadow: 0px 0px 2px rgb(204, 250, 250);
  /* color: rgb(155, 190, 255);
  text-shadow: 0px 0px 2px rgb(155, 190, 255); */
  font-family: Nunito;
  line-height: 68px;
  letter-spacing: 0px;
}
#user-clock-container{
  margin-top:30px;
  height:66px;
  background: linear-gradient(131deg, rgb(46, 46, 46) 8%, rgb(15, 15, 15) 100%);

}

#breakbtn {
  position: relative; width: 180px; top: 0px;
  height: 30px;
  border: none;
  background: #423d3d;
  font-family: arial;
  font-size: 16px;
  color: white;
  cursor:pointer;
}

.clock-icon {
  height:26px;
  float:right;
  margin-right:18px;
  margin-top:12px;
}
.clock-icon-container {
  float:right;
  width:20%;
}
.note-header-2{
  float:left;
  text-align: center;
  width:60%;
}
.clock-notify{
  overflow:hidden;
}