#nav-panel-07122020-nav-panel{
    width:100px;
    height:100%;
}
#nav-panel-07122020-nav-buttons-area{
    height:100%;
    background: linear-gradient(131deg, rgba(69,69,69,1) 8%, rgba(55,55,55,1) 100%);
    line-height:1px;
}
.nav-panel-07122020-image{
    height:50px;
    width:50px;   
}


.nav-panel-07122020-nav-button{
    cursor: pointer;
    height:84px;
    width:100%;
    line-height: 24px;
    background-color:transparent;
    font-size:30px;
    color:white;
    border:none;
    text-align:center;
    border-bottom: 1px solid rgba(236, 236, 236, 0.096);
    margin:0px;
}



.nav-panel-07122020-nav-button:hover{
    background-color:rgba(49, 49, 49, 0.39)
}

.nav-panel-07122020-nav-button-selected:hover{
    background-color:rgb(77, 77, 77);
}

.nav-panel-07122020-nav-button-selected{
    background-color:rgb(85, 85, 85);
}

#nav-panel-07122020-nav-task-lists{
    display:none;
}