.clock {
  position: relative;
  height: 200px;
  width: 200px;
  background: white;
  box-sizing: border-box;
  border-radius: 100%;
  border: 10px solid #67D2C8;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
.clock .top {
  position: absolute;
  width: 3px;
  height: 8px;
  background: #262626;
  left: 0;
  right: 0;
  margin: 0 auto;
}
.clock .right {
  position: absolute;
  width: 8px;
  height: 3px;
  background: #262626;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto 0;
}
.clock .bottom {
  position: absolute;
  width: 3px;
  height: 8px;
  background: #262626;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 auto;
}
.clock .left {
  position: absolute;
  width: 8px;
  height: 3px;
  background: #262626;
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto 0;
}
.clock .center {
  height: 6px;
  width: 6px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #262626;
  border-radius: 100%;
}
.clock .shadow-2 {
  height: 200px;
  width: 200px;
  position: absolute;
  left: 60px;
  top: 60px;
  transform: rotate(135deg);
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.05));
}
.clock .hour {
  width: 3px;
  height: 100%;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  animation: time 60s infinite linear;
}
.clock .hour:before {
  position: absolute;
  content: "";
  background: #262626;
  height: 60px;
  width: 3px;
  top: 30px;
}
.clock .minute {
  width: 1px;
  height: 100%;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  animation: time 30s infinite linear;
}
.clock .minute:before {
  position: absolute;
  content: "";
  background: #262626;
  height: 40px;
  width: 1px;
  top: 50px;
}
.clock .second {
  width: 2px;
  height: 100%;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  animation: time 15s infinite linear;
}
.clock .second:before {
  position: absolute;
  content: "";
  background: #fd1111;
  height: 45px;
  width: 2px;
  top: 45px;
}

@keyframes time {
  to {
    transform: rotate(360deg);
  }
}

#triangle-1{
    overflow: hidden;
    width: 100%;
    height: 100px;
    background-color: rgb(110, 227, 253);
    clip-path: polygon(100% 0, 0 100%, 100% 100%);
}
#triangle-4{
    overflow: hidden;
    width: 100%;
    height: 100px;
    background-color: rgb(110, 227, 253);
    clip-path: polygon(0% 100%, 100% 0%, 0% 0%);
}
.section-1{
    width:100%;
    height:900px;
    margin-bottom:0;
    background: linear-gradient(rgb(116, 116, 116),rgb(214, 214, 214));
    overflow: hidden;
}
.section-2{
    margin-top:0;
    width:100%;
    height:500px;
    background-color: #6ee3fd;
}
.section-3{
    margin-top:0;
    width:100%;
    height:500px;
    background: linear-gradient(rgb(116, 116, 116),rgb(214, 214, 214));
}
.image1{
    float:left;
    height:324px;
    width:695px;
    background-image: url("simple1.png");
    background-size:cover;
    border-radius:20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.image2{
    height:251px;
    width:400px;
    background-image: url("clouds.png");
    background-size:cover;
}
.box1{
    padding:20px;
    font-size:16px;
    line-height:20px;
    text-align:left;
    float:right;
    width:400px;
    color:rgb(122, 122, 122);
    border-radius:20px;
    height:324px; 
    background-color:white; 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.box2{
    margin: 0 auto;
    height:462px;
    width:400px;
    border-radius:20px;
    background-color:white; 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.section-1-overlay{
    width:100%;
    height:800px;
    /* background-image: url('testing.png');
    background-size: cover; */

}

#main_area{
    display:flex;
    justify-content: space-around;
    margin-left:90px;
    margin-right:90px;
}

/* .button-area{
    width:200px;
    height:200px;
    border:2px solid rgba(221, 221, 221, 0.322);
    background: radial-gradient(closest-side at 60% 55%, rgba(238, 238, 238, 0.055), rgba(235, 235, 235, 0.082), rgba(231, 231, 231, 0.096));     
    cursor: pointer;   
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);                                               
} */

/* background: radial-gradient(  #89f8febe,#66a8ffbd);  */
/* background: radial-gradient(  #537895d8,#09203fc7);      */
.button-area{
    width:200px;
    height:200px; 
    cursor: pointer;   
    background: radial-gradient(  #89f8febe,#66a8ffbd); 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);                                               
}

.button-area h5{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size:12px;
}


.button-area:hover{
    background: radial-gradient(  #89f8fe88,#66a8ff77);      
}

.button-area img{

    width:72px;
    margin: 0 auto;
    margin-top:40px;
    
}

.login-bar{
  width:100%;
  height:40px;
  background: linear-gradient(rgb(62, 163, 247),rgb(115, 187, 245));
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-top:0px;
}
.center-login{
  width:90%;
  margin:0 auto;
}
.center-login a {
  font-family: 'Chivo';
  border:1px solid black;
  margin-top:4px;
  float:left;
  font-size:12px;
  line-height:30px;
  background-color:rgb(250, 250, 250);
  width:100px;
  cursor: pointer;
  color:rgb(32, 32, 32);

}
.center-login a:hover {
  background-color:rgb(194, 194, 194); 
}