/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
    outline:none;
}

/*MY CODE*/

.main-wrapper{
    width:70%; 
    float:right; 
    margin-right:20px;
    
}
.header_link{
    margin-left:10px;
    width:90px;
}
.centered-wrapper{
    width:1000px;
    margin:0 auto;
}
.textarea-style-1{
    resize:none;
    float:left;
    width: 654px;
    height: 60px;
}
a{
    text-decoration: none;
}
body{
    background-color:#ccc;
    height:100%;
}
.big_letters{
    font-family: 'Concert One', cursive;
}
/* #ccc first color */
header nav{
    min-width: 1240px;
    width:100%;
    height:60px;
    background-color: rgb(255, 255, 255);
    overflow: auto;
}
/* #fff first color */
header nav ul{
    float:left;
}
header nav ul li{
    float:left;
    list-style:none;
}

header .nav-login {
    float: right;
}

header .nav-login form{
    float: left;
    padding-top: 15px;
}

/* header .nav-login form input{
    float: left;
    width: 140px;
    height: 30px;
    padding: 0px 10px;
    margin-right: 10px;
    border: none;
    background-color: #ccc;
    font-family: arial;
    font-size: 16px;
    color: #111;
    line-height: 30px;
} */
header .nav-login form input{
    float: left;
    width: 140px;
    height: 30px;
    padding: 0px 10px;
    margin-right: 10px;
    border: 1px solid black;
    background-color: rgb(241, 241, 241);
    /* font-family: 'Dosis', sans-serif; */
    /* font-family: 'Londrina Sketch'; */
    /* font-family: 'Monoton'; */
    font-family: 'Chivo';
    font-size: 16px;
    color: #111;
    line-height: 30px;
}
header nav ul li a{
    display:block;
    width: 60px;
    margin-top:15px;
    height: 30px;
    text-align: center;
    border:none;
    background-color: #fff;
    /* font-family: 'Dosis', sans-serif; */
    /* font-family: 'Londrina Sketch'; */
    /* font-family: 'Monoton'; */
    font-family: 'Chivo';
    border: 1px solid black;
    font-size: 16px;
    color: #111;
    line-height: 30px;
    cursor: pointer;
}
header .nav-login form button{
    float: left;
    width: 60px;
    height: 30px;

    border: none;

    background-color: #f3f3f3;
    /* font-family: 'Dosis', sans-serif; */
    /* font-family: 'Londrina Sketch'; */
    /* font-family: 'Monoton'; */
    font-family: 'Chivo';
    font-size: 16px;
    color: #111;
    cursor: pointer;
}


#submit_form_admin , #submit_form_manager , #submit_form_employee{
    margin-top:15px;
    float: left;
    width: 60px;
    height: 32px;
    margin-right: 10px;
    border: none;
    background-color: #f3f3f3;
    /* font-family: 'Dosis', sans-serif; */
    /* font-family: 'Londrina Sketch'; */
    /* font-family: 'Monoton'; */
    font-family: 'Chivo';
    font-size: 16px;
    color: #111;
    cursor: pointer;

}
.ma-box button:hover, #submit_form_admin:hover {
    background-color: rgb(233, 233, 233);
}

header .nav-login form input:hover , .ma-box input:hover{
    background-color: rgb(233, 233, 233);
}
header .nav-login  a{
    display:block;
    width: 60px;
    margin-top:15px;
    height: 30px;
    text-align: center;
    border:none;
    float: left;
    background-color: #fff;
    /* font-family: 'Dosis', sans-serif; */
    /* font-family: 'Londrina Sketch'; */
    /* font-family: 'Monoton'; */
    font-family: 'Chivo';
    border: 1px solid black;
    font-size: 16px;
    color: #111;
    line-height: 30px;
    cursor: pointer;
}
header .nav-login  a:hover, header nav ul li a:hover{
    background-color:rgb(233, 233, 233);
}
.nav_header{
    width:100%; height:40px; background-color:rgb(192, 192, 192);;margin-bottom:0px;
}
.main-container-index{

    font-family: arial;
    font-size: 40px;
    color: #111;
    line-height: 50px; 
    text-align:center; 
    min-width: 1240px;
    overflow: auto;   
}
.main-container{
    padding-top:40px;
    font-family: arial;
    font-size: 40px;
    color: #111;
    line-height: 50px; 
    text-align:center; 
    min-width: 1240px;
    min-height: 100%;
    overflow: auto;   
}

/*signup.php*/
.form_area{
    width:58%;
    
    margin:0 auto;
    border-radius:5px;
    background-color:rgb(255, 255, 255);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom:30px;
}

.form_area_nav{
    width:100%;
    margin:0 auto;
    margin-top:100px;
    border-radius:5px;
    background-color:rgb(255, 255, 255);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom:30px;
}


.area p {
    line-height:20px;
    /* padding-left:20px;
    padding-right:20px; */
    padding:20px;
    margin:0 auto;
    text-align:left;
    font-size: 16px;
    font-family: arial;
}
.form_area h5 {

}
.divider {
    height:1px; width:100%;
    background-color:  rgb(214, 214, 214);
    margin:0 auto;
}

.divider-2 {
    height:4px; width:100%;
    border-radius: 20px;
    background:  linear-gradient(rgb(199, 199, 199),gray);
    margin:0 auto;
}

.signup-form{
    width: 400px;
    margin: 0 auto;
    padding-top: 30px;
}
.signup-form input{
    width: 90%;
    height: 40px;
    padding: 0px 15px;
    margin-bottom: 2px;
    border: 1px solid rgb(214, 214, 214);
    background-color: #fff;
    border-radius: 2px;
    font-family: arial;
    font-size: 16px;
    color: #111;
    line-height: 40px;
}
.signup-form button{
    display:block;
    margin: 0 auto;
    width: 30%;
    height: 40px;
    border: none;
    background-color: #222;
    font-family: arial;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
}
.signup-form-button{
    
    display:block;
    margin: 0 auto;

    margin-bottom:2px;
    margin-top:5px;
    width: 120px;
    height: 40px;
    border: none;
    border-radius: 30px;
    background-color: #222;
    font-family: arial;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
}
.signup-form button:hover{
    background-color:#111;
}
.signup-form-button:hover{
    background-color:rgb(48, 48, 48);
}

.project-box{
    width: 400px;
    padding: 20px;
    margin-bottom:4px;
    background-color: #fff;
    border-radius: 4px;
}
.project-box p{
    font-family: arial;
    font-size: 14px;
    line-height: 16px;
    color: #282828;
    font-weight: 100;
}
.emp-box form button{
    
    width: 60px;
    height: 30px;
    margin-right: 10px;
    border: none;
    background-color: #f3f3f3;
    font-family: arial;
    font-size: 16px;
    color: #111;
    cursor: pointer;
}
.emp-box form input{
    width: 140px;
    height: 30px;
    padding: 0px 10px;
    margin-right: 10px;
    border: none;
    background-color: #fff;
    font-family: arial;
    font-size: 16px;
    color: #111;
    line-height: 30px;
}
.emp-box{
    float:left;
    border: 2px solid black;
}
.manager-box{
    float:right;
    border: 2px solid black;
}
.dlt-btn button{
    width: 180px;
    height: 30px;
    margin-right: 10px;
    border: none;
    background-color: #f3f3f3;
    font-family: arial;
    font-size: 16px;
    color: #111;
    cursor: pointer;
}
#clockin:hover{
    background-color:#1b7935;
}
#clockout:hover{
    background-color:#7c0e0e;
}
.testcolor{
    color: #e9e9e9;
}
li{
    list-style:none;
}
.test{
    color:#c4bf43;
}

.button-style-1 {
    
    width: 120px;
    margin-top:20px;
    height: 40px;
    float:left;
    border: none;
    background-color: rgb(66, 85, 252);
    font-family: arial;
    font-size: 16px;
    color: #fff;
    cursor: pointer;

}
.button-style-2 {
    width: 150px;
    margin-top:20px;
    height: 40px;
    float:right;
    margin-right:20px;
    border: none;
    background-color: rgb(66, 85, 252);
    font-family: arial;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
}
.button-style-3 {
    width: 60px;
    display:none;
    margin-right:20px;
    margin-top:20px;
    height: 40px;
    float:right;
    border: none;
    background-color: rgb(218, 218, 218);
    font-family: arial;
    font-size: 16px;
    color: black;
    cursor: pointer;
}
/* .button-style-4 {
    width: 120px;
    height: 40px;
    float:left;
    border: none;
    border-bottom: 2px solid rgb(43, 142, 196);
    background-color: rgb(77, 181, 230);
    font-family: arial;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
    color: #fff;
    line-height:38px;
} */
/* .button-style-4 {
    width: 120px;
    height: 40px;
    float:left;
    border: none;
    border-bottom: 2px solid rgb(54, 57, 255);
    background-color: rgb(126, 154, 245);
    font-family: arial;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
    color: #fff;
    line-height:38px;
} */
.button-style-4 {
    width: 120px;
    height: 40px;
    float:left;
    border: none;
    background-color: rgb(235, 232, 232);
    font-family: arial;
    font-size: 16px;
    border-bottom: 1px solid rgb(160, 160, 160);
    color: #fff;
    cursor: pointer;
    color: rgb(36, 36, 36);
    line-height:38px;
}
.button-style-8 {
    width: 150px;
    margin: 0 auto;
    height: 40px;
    border: none;
    border-bottom: 2px solid rgb(173, 173, 173);
    background-color: rgb(255, 255, 255);
    font-family: arial;
    font-size: 16px;
    color: black;
    cursor: pointer;
    line-height:38px;
    display:block;
}
.button-style-8:hover {
    background-color: rgb(233, 233, 233);
}
.button-style-8:active {
    height: 38px;
    transform: translateY(2px);
    border:none;
}
.button-style-4:hover {
    background-color: rgb(97, 122, 196);
}
.button-style-4:active {
    height: 38px;
    transform: translateY(2px);
    border:none;
}
.button-style-4-2 {
    width: 100px;
    height: 34px;
    border: none;
    border-bottom: 2px solid rgb(54, 57, 255);
    background-color: rgb(126, 154, 245);
    font-family: arial;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
    color: #fff;
    line-height:30px;
}
.button-style-4-2:hover {
    background-color: rgb(97, 122, 196);
}
.button-style-4-2:active {
    height: 32px;
    transform: translateY(2px);
    border:none;
}
.button-style-5 {
    width: 60px;
    display:none;
    height: 40px;
    float:left;
    border: none;
    border-bottom: 2px solid rgb(173, 173, 173);
    background-color: rgb(255, 255, 255);
    font-family: arial;
    font-size: 16px;
    color: black;
    cursor: pointer;
    line-height:38px;
}
.button-style-5:hover {
    background-color: rgb(197, 197, 197);
}
.button-style-5:active {
    height: 38px;
    transform: translateY(2px);
    border:none;
}
#header-line{
    width:700px;
    overflow:hidden;
    text-overflow: ellipsis;
    text-align:left;
}
#company_name_header {
    width:900px;
        margin:0 auto;
    overflow:hidden;
    text-overflow: ellipsis;
}
.button-style-7 {
    width: 60px;
    height: 28px;
    float:right;
    border: none;
    border-bottom: 2px solid rgb(173, 173, 173);
    background-color: rgb(255, 255, 255);
    font-family: arial;
    font-size: 16px;
    color: black;
    cursor: pointer;
    margin-top: 6px;
    margin-right: 5px;
}
.button-style-7:hover {
    background-color: rgb(247, 247, 247);
}
.button-style-7:active {
    height: 26px;
    transform: translateY(2px);
    border:none;
}
.searchbar-style-1{
    
    padding: 0px 0px 0px 12px;
    float:right;
    width:30%;
    height:37px;
    margin-top:20px;
    margin-right:20px; 
    font-size:16px;
}
/* .searchbar-style-2{
    padding: 0px 0px 0px 12px;
    float:right;
    width:30%;
    height:36px;
    border: 2px solid rgb(126, 154, 245);
    font-size:16px;
} */
.searchbar-style-2{
    
       padding: 0px 0px 0px 12px;
       float:right;
       width:30%;
       height:36px;
       border: 2px solid rgb(221, 221, 221);
       font-size:16px;
   }

.searchbar-style-2:hover{
    border: 2px solid rgb(97, 122, 196);    
}
::placeholder {
    color: rgb(182, 182, 182);
    opacity: 1; /* Firefox */
}

.clockStyle {
    position: relative;    
    background-color:#000;
    border: 2px inset #999;
    padding: 3px;
    color: #0ff;
    font-family:'Arial Black', Gadget, sans-serif;
    font-weight: bold;
    letter-spacing: 2px;
    display: inline;
}
#world_clock{
    top: 20px; 

    font-size: 22px;
}
.clock_location{
    width:180px;
    margin: 0 auto;
}

/* .timeStyle{
    font-family:'Arial Black', Gadget, sans-serif;
} */

.timeStyle-2{
    border: 2px solid rgb(92, 91, 91);
    width:178px;
    background-color: black;
    height:60px;
    border-radius: 5px;
    margin: 0 auto;
    font-family: 'Share Tech Mono', monospace;
    color: #ffffff;
    text-align: center;
    
    color: #daf6ff;
    text-shadow: 0 0 20px #0aafe6, 0 0 20px rgba(10, 175, 230, 0);
}
.clock_digits {
    letter-spacing: 0.015em;
    font-size: 25px;
    padding: 3px 0;
}


.dropdown-style-1 {
    width: 150px;
    margin-top:20px;
    margin-right:20px;
    height: 40px;
    border: none;
    background-color: rgb(200, 200, 200);
    font-family: arial;
    font-size: 16px;
}
.dropdown-style-2{
    width: 150px;
    margin-top:20px;
    margin-right:20px;
    border-radius: 0;
    height: 40px;
    border: none;
    background-color: rgb(103, 98, 168);
    font-family: arial;
    font-size: 16px;
}
.dropdown-style-3{
    width: 150px;
    margin-right:20px;
    height: 40px;
    font-family: arial;
    font-size: 16px;
    float:right;
}
.dropdown-style-4{
    width: 152px;
    height: 40px;
    font-family: arial;
    font-size: 16px;
}
.dropdown-style-3-left{
    width: 150px;
    margin-right:20px;
    height: 40px;
    font-family: arial;
    font-size: 16px;
    float:left;
}
/* select {
    
  
      background-color: white;
      border: thin solid rgb(19, 19, 19);
      border-radius: 4px;
      display: inline-block;
      font: inherit;
      line-height: 1.5em;
      padding: 0.5em 3.5em 0.5em 1em;
    
  
    
      margin: 0;      
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      -webkit-appearance: none;
      -moz-appearance: none;
    } */
select {
    
      /* styling */
      background-color: white;
      border: 1px solid rgb(221, 221, 221);
      
      display: inline-block;
      font-size:16px;
      line-height: 1.5em;
      padding: 0.5em 40px 0.5em 1em;
        border-radius: 0px;
      /* reset */
    
      margin: 0;      
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      -webkit-appearance: none;
      -moz-appearance: none;
    }

select.dropdown-style-3, select.dropdown-style-3-left,select.dropdown-style-4{
    background-image:
      linear-gradient(45deg, transparent 50%, rgb(255, 255, 255) 50%),
      linear-gradient(135deg, rgb(255, 255, 255) 50%, transparent 50%),
      linear-gradient(to right, rgb(221, 221, 221), rgb(221, 221, 221));
    background-position:
      calc(100% - 20px) calc(1em + 2px),
      calc(100% - 15px) calc(1em + 2px),
      100% 0;
    background-size:
      5px 5px,
      5px 5px,
      2.5em 2.5em;
    background-repeat: no-repeat;
}

/* select.dropdown-style-3, select.dropdown-style-3-left,select.dropdown-style-4{
    background-image:
      linear-gradient(45deg, transparent 50%, blue 50%),
      linear-gradient(135deg, blue 50%, transparent 50%),
      linear-gradient(to right, skyblue, skyblue);
    background-position:
      calc(100% - 20px) calc(1em + 2px),
      calc(100% - 15px) calc(1em + 2px),
      100% 0;
    background-size:
      5px 5px,
      5px 5px,
      2.5em 2.5em;
    background-repeat: no-repeat;
} */

.info_button_managetime span:hover{
    display:block;
}
.test{
    color:rgb(106, 123, 255)
}
/* The animation code */
@keyframes disappear {
    from {opacity: 1;}
    to {opacity: 0;}
    
}
.disappear_modal{
    animation-delay: 1s;
    animation-name: disappear;
    animation-duration: 4s;
    animation-fill-mode: forwards;
}

.modal-style-1{
    position:absolute; 
    background-color:#fff;
    z-index:6; 
    border:1px solid rgb(177, 177, 177);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.entry-button-style-1 {
    width: 60px;
    height: 30px;
    position:relative;
    float:right;
    margin-right:20px;
    margin-top:10px;
    border: none;
    background-color: #f3f3f3;
    font-family: arial;
    font-size: 16px;
    color: #111;
    cursor: pointer;
}
.entry-button-style-2 {
    width: 120px;
    height: 30px;
    position:relative;
    float:right;
    margin-right:20px;
    margin-top:10px;
    border: none;
    border-bottom: 1px solid rgb(160, 160, 160);
    background-color: #f3f3f3;
    font-family: arial;
    font-size: 16px;
    color: #111;
    cursor: pointer;
}
/* non absolute */
.entry-button-style-2-non{
    width: 120px;
    height: 30px;
    position:relative;
    float:right;
    margin-right:20px;
    margin-top:10px;
    border: none;
    border-bottom: 1px solid rgb(160, 160, 160);
    background-color: #f3f3f3;
    font-family: arial;
    font-size: 16px;
    color: #111;
    cursor: pointer;
}
.entry-button-style-2:hover {

    background-color: #c0c0c0;

}
.entry-button-style-2:active {
    
    height: 29px;
    transform: translateY(1px);
    border:none;
    
}
html{
    width:100%;
    height:100%;
    
}

.nav-login-emp-manager{
    font-family: arial;
    font-size:40px;
}
p {
    font-size:16px;
}
.width90p{
    overflow:auto;
    margin:0 auto;
    width:90%;
}
.info_accounts_box{
    position: relative;
    margin: 0 auto;
    height:150px;
    width:230px;
    top: 50px;
    background-color:#fff;
    border: 2px solid rgb(167, 167, 167);
    border-style:inset;
}

.info_accounts_box_uses {
    top:40px;
    bottom:40px;
    margin: 0 auto;
    position: relative;

    width:610px;
    background-color:#fff;
    border: 2px solid rgb(167, 167, 167);
    border-style:inset;
}

#clocked_alerts{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    height:340px;
    width:290px;
    margin:0 auto;
    padding:10px;
    background-color:#fff;
    line-height:20px;
    overflow-y:scroll;
    hyphens: auto;
}

h5 {
    font-size: 15px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
h4{
    white-space: nowrap;
    padding-top: 20px;
    font-size: 20px;
    float:left;
    height:20px;
    line-height: 0px;
}
h3{
    font-size:24px;
    font-family: arial;
}
h2 {
    font-size:32px;
    white-space: nowrap;
    font-family: Verdana;
}
#home {
    font-size: 24px;
    font-family: Tahoma;
}
.alert_text{

}
.alert_content{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    color: #ffffff;
    background: rgb(255, 98, 98);
    border-radius: 5px;
    padding:10px 10px 10px 10px;
    float:right;
    margin-right:12px;
    line-height: 18px;
    text-align:left;
    font-family: arial;
    border-radius: 5px;
    -webkit-animation: fadein 0.4s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein  0.4s; /* Firefox < 16 */
     -ms-animation: fadein  0.4s; /* Internet Explorer */
      -o-animation: fadein  0.4s; /* Opera < 12.1 */
         animation: fadein  0.4s;  
}

.delete_button_can {
    height: 28px;
    width:30px;
    border:none;
    background-color: red;
    border-bottom:2px solid rgb(255, 131, 131);
    float: right;
    margin-top: 6px;
    margin-right: 5px;
    font-size:12px;
    background: red url("trash_can.png");
    background-position: 6px 4px;
    background-size:18px 18px;
    background-repeat: no-repeat;
}
.delete_button_can:hover {
    background-color: rgb(179, 0, 0);   
}
.delete_button_can:active {
    height: 26px;
    transform: translateY(2px);
    border:none;
}
.alert_none {
    display: none;
    line-height:50px;
}
.form_alert{
    color: rgb(255, 98, 98);
    display:none;
    font-size:12px;
    font-family:"arial";
}
.alert_area{
    height:15px;
    line-height:15px;
    text-align: left;
    padding-left:3px;
    padding-right:3px;
}
.black {
    background-color:black;
}
.warning_info{

    background-color:rgb(226, 223, 63);
    border: 2px solid rgb(167, 167, 167);
    border-style:inset;
}
.entry_line_original{
    width: 97%; 
    height:50px;
    margin:0 auto; 
    background-color: rgb(144, 223, 255);
    border-radius: 4px;
    font-size:16px;
}
.entry_line{
    width: 97%; 
    height:52px;
    margin:0 auto; 
    background-color: rgb(144, 223, 255);
    border-bottom: 1px solid rgb(160, 160, 160);
    font-size:16px;
}
/* .entry_line{
    width: 97%; 
    height:48px;
    margin:0 auto; 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: rgb(144, 223, 255);
    font-size:16px;
} */
.entry_line:hover{
    cursor: pointer;
}
.info_project{
    line-height: 18px;
    width:298px;
    text-align:left;
    font-family: arial;
    border-radius: 5px;
    display:none;
    -webkit-animation: fadein 0.4s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein  0.4s; /* Firefox < 16 */
     -ms-animation: fadein  0.4s; /* Internet Explorer */
      -o-animation: fadein  0.4s; /* Opera < 12.1 */
         animation: fadein  0.4s;
}
#admin_alert, #employee_alert, #manager_alert{
    
    display:none;
    float:right;
    margin-top:10px;
    border-radius: 5px;
    line-height: 18px;
    font-family:arial;
    -webkit-animation: fadein 0.4s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein  0.4s; /* Firefox < 16 */
     -ms-animation: fadein  0.4s; /* Internet Explorer */
      -o-animation: fadein  0.4s; /* Opera < 12.1 */
         animation: fadein  0.4s;
}
/* #employee_alert, #manager_alert {

    display:none;
    float:left;
    border-radius: 5px;
    font-family:arial;
    -webkit-animation: fadein 0.4s; 
    -moz-animation: fadein  0.4s; 
     -ms-animation: fadein  0.4s;
      -o-animation: fadein  0.4s;
         animation: fadein  0.4s;
} */
.show_long_text{
    line-height: 18px;
    text-align:left;
    font-family: arial;
    border-radius: 5px;
    display:none;
    -webkit-animation: fadein 0.4s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein  0.4s; /* Firefox < 16 */
     -ms-animation: fadein  0.4s; /* Internet Explorer */
      -o-animation: fadein  0.4s; /* Opera < 12.1 */
         animation: fadein  0.4s;
}

.show_long_text_2{
    z-index:10;
    line-height: 18px;
    text-align:left;
    font-family: arial;
    border-radius: 5px;
    display:none;
    -webkit-animation: fadein 0.4s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein  0.4s; /* Firefox < 16 */
     -ms-animation: fadein  0.4s; /* Internet Explorer */
      -o-animation: fadein  0.4s; /* Opera < 12.1 */
         animation: fadein  0.4s;
}



@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
.info_project_tip{

    width: 0; 
    float:right;
    height: 0; 
    margin-top:10px;
    border-top: 12px solid transparent;
    border-bottom: 12px solid transparent;
    border-left: 12px solid rgb(255, 255, 255);
}
.info_long_tip{

    width: 0; 
    height: 0; 
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-top: 12px solid rgb(255, 255, 255);
    margin-left:30px;
      
}
.info_alert_tip{
        position: absolute;
        z-index:20px;
        margin-left:-2px;
        width: 0; 
        height: 0; 
        border-top: 12px solid transparent;
        border-bottom: 12px solid transparent;
        border-left: 12px solid rgb(255, 98, 98);
        margin-top:7px;

    }
.info_alert_tip_2{
    position: absolute;
    z-index:20px;
    margin-left:10px;
    width: 0; 
    height: 0; 
    border-top: 12px solid transparent;
    border-bottom: 12px solid transparent;
    border-right: 12px solid rgb(255, 98, 98);
    margin-top:16px;

}
.info_content{

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width:268px;
    color: #000000;
    background: #FFFFFF;
    border-radius: 5px;
    padding:10px 10px 10px 10px;
}
.info_alert{
    
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

        float:right;
        color: #ffffff;
        background: rgb(255, 93, 93);
        border-radius: 5px;
        padding:10px 10px 10px 10px;

    }
    .info_alert_2{
        
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            float:left;
            color: #ffffff;
            background: rgb(255, 93, 93);
            border-radius: 5px;
            padding:10px 10px 10px 10px;
            margin-top:10px;
            margin-left:20px;

    
        }

.info_content-2{
    
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        color: #000000;
        background: #FFFFFF;
        border-radius: 5px;
        padding:10px 10px 10px 10px;

    }
.info_content h6, .info_content-2 h6{
    font-weight: bold;
    margin-bottom:8px;
}
.shadow{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.ma-box button{

    width: 60px;
    height: 32px;
    margin-top:15px;
    border: none;

    background-color: #f3f3f3;
    /* font-family: 'Dosis', sans-serif; */
    /* font-family: 'Londrina Sketch'; */
    /* font-family: 'Monoton'; */
    font-family: 'Chivo';
    font-size: 16px;
    color: #111;
    cursor: pointer;
    float:left;
}
.ma-box input{
    margin-top:15px;
    float: left;
    width: 140px;
    height: 30px;
    padding: 0px 10px;
    margin-right: 10px;
    border: 1px solid black;
    background-color: rgb(241, 241, 241);
    /* font-family: 'Dosis', sans-serif; */
    /* font-family: 'Londrina Sketch'; */
    /* font-family: 'Monoton'; */
    font-family: 'Chivo';
    font-size: 16px;
    color: #111;
    line-height: 30px;

}

.ma-box img{
    float: left;
    margin-top:9px;
    margin-left:20px;
}

.ma-box{
    overflow:auto;
    width:100%;
    height:60px;
    left:0px;
}
#input2, #input3{
 
    
}
#ma1{
    background: linear-gradient(rgb(3, 144, 175), rgb(6, 171, 204));


}
#ma2{
    background: linear-gradient(rgb(110, 227, 253), rgb(156, 232, 247));
    /* rgb(119, 228, 255) */
}


.ma-box p {
    

    float:left;

}

/* Modals */
.modal {     
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 5; /* Sit on top */
    top: 0%;
    width: 100%;
    height:100%;
    font-family: arial;
    font-size:14px;
    background-color: transparent;
    overflow: auto; /* Enable scroll if needed */
}
/* Modals */
.outside_of_modal {     
    position: fixed; /* Stay in place */
    z-index: 5; /* Sit on top */
    top: 0%;
    width: 100%;
    height:100%;
    font-size:14px;
    background-color: transparent;
    overflow: auto; /* Enable scroll if needed */
}

.modal-content input{
    height: 40px;
}
.modal-content{
    background-color: rgb(221, 221, 221);
}
.modal-content p{
    position: static;
    
    padding: 12px 2px 0px;
    margin:0;
    text-align: left;

}
.modal-content-add-projects{
    background-color:#fff;
}


.drop-down{
    width:80%;
    height: 40px;
}

.modal-content-2 input{
    width:80%;
}
.modal-content-2 p{
    margin-left: 10%;
}

.modal-content .modal-top input, .modal-content .modal-top p{
    width:60%;
    margin-left:20%;
}

#end-text, #end_submit{
    margin-left:0%;
}
.modal-buttons button{
    width:40%;
    height:40px;
    margin-top:12px; 
}
/* #submit, #info{
    margin-left: 20%;
} */
/* #submit{
    background-color:rgb(66, 85, 252);
    color:#fff;
} */

/* Entry boxs */
.box-button, .box-button2{

}

/* Entry boxs */
.box-button_orig, .box-button2_orig{
    width: 120px;
    height: 30px;
    margin-right: 10px;
    border: none;
    background-color: #f3f3f3;
    font-family: arial;
    font-size: 16px;
    color: #111;
    cursor: pointer;
}


/* create projects box */
.box-create{
    width: 100%;
    height:40px; 
}
.box-create-2{
    width: 100%;
    height:40px; 
    background-color:rgb(192, 192, 192);
    /* border-bottom: 1px solid rgb(82, 82, 82); */
}
/* .box-create-2{
    width: 100%;
    height:40px; 
    background-color:rgb(99, 91, 91);
    border-bottom: 1px solid rgb(82, 82, 82);
} */
.box-create #top-bar h1{  
    color:rgb(39, 39, 39);
}

/* Checkboxs */
.checkbox-container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default checkbox */
  .checkbox-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 30px;
    width: 30px;
    background-color: #eee;
  }
  
  /* On mouse-over, add a grey background color */
  .checkbox-container:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the checkbox is checked, add a blue background */
  .checkbox-container input:checked ~ .checkmark {
    background-color: #2196F3;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkbox-container:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .checkbox-container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .checkbox-container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

.arrow-left{
    border-radius:15px 0px 0px 15px ;
    margin-left:1px;
    margin-top:1px;

}
.arrow-right{
    border-radius:0px 15px 15px 0px ;
    margin-right:1px;
    margin-top:1px;

}
.arrow-button {
    width: 50px;
    height: 30px;
    border: none;
    background-color: rgb(247, 247, 247);
    font-family: Impact;
    font-size: 20px;
    color: black;
    cursor: pointer;
    
}
.page-numbers{
    width:18%;height:30px;
    background-color:white;
    margin:0 auto;
    border:1px solid rgb(133, 133, 133);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.arrow-button:hover{
    background-color: rgb(238, 237, 237);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.09);
}
.arrow-button:active{
    border-bottom:1px solid rgb(59, 59, 59);
    transform: translateY(1px);
}
.setting_button:hover{
    background-color:rgb(168, 167, 167);
}

/* Home Page */
/* 1st style */
/* .columns a {
    display:block;
    margin: 0 auto;
    margin-bottom:5px;
    width: 80%;
    border-radius:10px;
    border:1px solid rgb(165, 165, 165);
    height: 40px;
    line-height:40px;
    background-color: rgb(255, 255, 255);
    font-family: arial;
    font-size: 16px;
    color: rgb(165, 165, 165);
    cursor: pointer;
}
.columns a:hover {
    background-color: rgb(107, 102, 102);
    color: rgb(247, 247, 247);
}
.columns button{
    display:block;
    margin: 0 auto;
    margin-bottom:5px;
    line-height:34px;
    border-radius:10px;
    border:1px solid rgb(165, 165, 165);
    width: 80%;
    height: 40px;
    background-color: rgb(255, 255, 255);
    font-family: arial;
    font-size: 16px;
    color: rgb(165, 165, 165);
    cursor: pointer;
}
.columns button:hover{
    background-color: rgb(107, 102, 102);
    color: rgb(247, 247, 247);
} */
/* 2nd style */
/* .columns a {
    display:block;
    margin: 0 auto;
    margin-bottom:5px;
    width: 80%;
    height: 40px;
    line-height:40px;
    border: none;
    background-color: #222;
    font-family: arial;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
}
.columns a:hover, .columns button:hover{
    background-color: rgb(139, 139, 139);
}
.columns button{
    display:block;
    margin: 0 auto;
    margin-bottom:5px;
    line-height:42px;
    width: 80%;
    height: 40px;
    border: none;
    background-color: #222;
    font-family: arial;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
} */
/* 3rd style */
/* .columns a {
    display:block;
    margin: 0 auto;
    margin-bottom:5px;
    width: 80%;
    height: 40px;
    line-height:40px;
    border: none;
    background: linear-gradient(rgb(112, 112, 112), rgb(59, 59, 59));
    font-family: arial;
    font-size: 16px;
    border-radius: 0 20px 0 20px;
    color: #fff;
    cursor: pointer;
}
.columns a:hover, .columns button:hover{
    background: linear-gradient(rgb(201, 201, 201), rgb(139, 139, 139));
}
.columns button{
    display:block;
    margin: 0 auto;
    margin-bottom:5px;
    line-height:42px;
    width: 80%;
    height: 40px;
    border: none;
    border-radius: 0 20px 0 20px;
    background: linear-gradient(rgb(112, 112, 112), rgb(59, 59, 59));
    font-family: arial;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
} */
/* 4th style index_draft */
/* .columns a {
    display:block;
    margin: 0 auto;
    width: 80%;
    height: 40px;
    line-height:40px;
    border: none;
    background: linear-gradient(rgb(112, 112, 112), rgb(59, 59, 59));
    font-family: arial;
    font-size: 16px;
    border-radius: 20px 20px 0 0;
    color: #fff;
    cursor: pointer;
}
.columns a:hover, .columns button:hover{
    background: linear-gradient(rgb(201, 201, 201), rgb(139, 139, 139));
}
.columns button{
    display:block;
    margin: 0 auto;
    line-height:42px;
    width: 80%;
    height: 40px;
    border: none;
    border-radius: 20px 20px 0 0;
    background: linear-gradient(rgb(112, 112, 112), rgb(59, 59, 59));
    font-family: arial;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
}
#middle {
    border-radius: 0px 0px 0 0;    
}
#bottom, #account{
    border-radius: 0px 0px 20px 20px;    
}
.bottom{
    border-radius: 0px 0px 20px 20px;  
} */
/* 5th style */
/* .columns a {
    display:block;
    margin: 0 auto;
    margin-bottom:5px;
    width: 80%;
    height: 40px;
    line-height:40px;
    border: none;
    border: 2px solid rgb(0, 0, 0);
    background: transparent;
    font-family: 'Trebuchet MS';
    font-size: 17px;
    color: #fff;
    cursor: pointer;
}
.columns a:hover, .columns button:hover{
    background-color:rgba(116, 114, 114, 0.6);
}
.columns button{
    display:block;
    margin: 0 auto;
    margin-bottom:5px;
    line-height:42px;
    width: 80%;
    height: 46px;
    border: none;
    background: transparent;
    border: 2px solid rgb(0, 0, 0);
    font-family: 'Trebuchet MS';
    font-size: 17px;
    color: #fff;
    cursor: pointer;
} */
/* 6th style */
.columns a {
    display:block;
    margin: 0 auto;
    margin-bottom:10px;
    width: 80%;
    height: 40px;
    line-height:40px;
    
    background-color: rgb(46, 46, 46);
    font-family: arial;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.columns a:hover, .columns button:hover{
    background-color: rgb(124, 120, 120);
}
.columns a:active{
    background-color: rgb(124, 120, 120);
    border-bottom: none;
    transform: translateY(2px);
}
/* .columns button:active {
    background-color: rgb(124, 120, 120);
    border-bottom: none;
    transform: translateY(4px); 
    height:40px;
} */
.columns button:active {
    background-color: rgb(124, 120, 120);
    border-bottom: none;
    transform: translateY(2px); 
    height:40px;
}
#notifications:active > #total_messages {  transform: translateY(4px);  }

.columns {

}
/* .columns button{
    display:block;
    margin: 0 auto;
    margin-bottom:5px;
    line-height:40px;
    width: 80%;
    height: 44px;
    border:none;
    border-bottom: 4px solid rgb(83, 83, 83);
    background-color: rgb(46, 46, 46);
    font-family: arial;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
} */
.columns button{

    display:block;
    margin: 0 auto;
    margin-bottom:10px;
    line-height:40px;
    width: 80%;
    height: 40px;
    border:none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: rgb(46, 46, 46);
    font-family: arial;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
}
  


home_page_button {
    display:block;
    margin: 0 auto;
    margin-bottom:5px;
    width: 80%;
    height: 40px;
    line-height:40px;
    border: none;
    background-color: #222;
    font-family: arial;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
}
button:focus{
    outline: none;
}
.index_company_name_box{
    width:100%;
    height:50px;
    background-color:rgb(255, 255, 255);
    color:rgb(0, 0, 0);
}
.index_company_name_box2{
    width:100%;
    border-radius: 0 0 400px 400px;
    height:50px;
    background-color:rgb(252, 250, 250);
    color:rgb(0, 0, 0);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.49);
}
/* .moveable_modal{
    width:700px; 
    position:absolute; 
    background-color:#fff;
    z-index:6; 
    border:1px solid rgb(177, 177, 177);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
} */
.moveable_modal{
    width:700px; 
    position:absolute; 
    background-color:rgb(255, 255, 255);
    z-index:6; 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.moveable_modal_2{
    width:1000px; 
    position:absolute; 
    background-color:#fff;
    z-index:6; 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.shadow-modal{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.centering-modal{
    left:50%;
    margin-top:10%;
    position: absolute;
    margin-left:-350px;
}
/* .modal_header{
    line-height:40px;
    cursor: move;
    height:40px;
    background-color: rgb(66, 85, 252);
} */
.modal_header{
    line-height:40px;
    cursor: move;
    height:40px;
    background-color: rgb(66, 147, 252);
    border-bottom: 1px solid rgb(82, 82, 82);
    
}
.modal_header_text{
    float:left;
    margin-left:20px;
    padding:0;
     color:white;
      font-size:20px;
}
.input_index{
    padding: 0 0 0 4px; 
    float:left; 
    margin-left:20px; 
    height:15px; 
    width: 60%;
}
.centering-modal-2{
    left:50%;
    margin-top:10%;
    position: absolute;
    margin-left:-500px;
}
.right{
    float:right;
    margin-right:20px;
}
.left{
    float:left;
    margin-left:20px;
}
.wide900{
    width:900px;
}
.wide200{
    width:200px;
}
.wide60{
    width:60px;
}
.entry_template{
    width:100%;
    height:54px;
    background-color:rgb(247, 247, 247);
}
.button-style-6 {
    width: 120px;
    margin-top:20px;
    height: 40px;
    float:left;
    border: none;
    border-bottom: 2px solid rgb(54, 57, 255);
    background-color: rgb(126, 154, 245);
    font-family: arial;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
    color: #fff;
    line-height:38px;
}
.button-style-6:hover {
    background-color: rgb(97, 122, 196);
}
.push-button:active {
    height: 38px;
    transform: translateY(2px);
    border:none;
}

h6{
    font: 16px sans-serif;
}
#info_description{
    width:270px;    
    word-wrap: break-word;
    
}
#info_description_long{
    max-width: 814px;   
    word-wrap: break-word;
    
}


.add_background {
    width: 97%; 
    height:50px;
    margin:0 auto;
    background-color: rgb(255, 255, 255);
    border-radius: 0px;
    font-size:16px;
}
/* .add_background {
    width: 97%; 
    height:50px;
    margin:0 auto;
    background: radial-gradient(white,rgb(165, 165, 165));
    border-radius: 0px;
    font-size:16px;
} */

/* .add_entry_button_style-1{
    cursor:pointer;
    width: 94%;
    height:50px;
    margin:0 auto;
    background: linear-gradient(rgb(58, 160, 190), rgb(197, 197, 197));
    border-radius: 0px;
    font-size:16px; 
    border: 1px solid rgb(43, 43, 43);
} */
.bar_entry_add-left {
    background: linear-gradient(rgb(207, 242, 253), gray);
    height: 100%;
    width:3%;
    float:left;
}
.bar_entry_add-right {
    float:right;
    background: linear-gradient(rgb(207, 242, 253), gray);
    height: 100%;
    width:3%;
}
.add_entry_button_style-1{
    cursor:pointer;
    float:right;
    width: 99%;
    height:50px;
    margin:0 auto;
    background:transparent;
    border-radius: 0px;
    font-size:16px; 
    border: 1px solid #ccc;
}
/* .add_entry_button_style-1{
	-moz-box-shadow:inset 0px 1px 0px 0px #bee2f9;
	-webkit-box-shadow:inset 0px 1px 0px 0px #bee2f9;
	box-shadow:inset 0px 1px 0px 0px #bee2f9;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #63b8ee), color-stop(1, #468ccf));
	background:-moz-linear-gradient(top, #63b8ee 5%, #468ccf 100%);
	background:-webkit-linear-gradient(top, #63b8ee 5%, #468ccf 100%);
	background:-o-linear-gradient(top, #63b8ee 5%, #468ccf 100%);
	background:-ms-linear-gradient(top, #63b8ee 5%, #468ccf 100%);
	background:linear-gradient(to bottom, #63b8ee 5%, #468ccf 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#63b8ee', endColorstr='#468ccf',GradientType=0);
	background-color:#63b8ee;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #3866a3;
	display:inline-block;
	cursor:pointer;
	color:#14396a;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
    height:48px;
	text-decoration:none;
    text-shadow:0px 1px 0px #7cacde;
    width:100%;
}
.add_entry_button_style-1:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #468ccf), color-stop(1, #63b8ee));
	background:-moz-linear-gradient(top, #468ccf 5%, #63b8ee 100%);
	background:-webkit-linear-gradient(top, #468ccf 5%, #63b8ee 100%);
	background:-o-linear-gradient(top, #468ccf 5%, #63b8ee 100%);
	background:-ms-linear-gradient(top, #468ccf 5%, #63b8ee 100%);
	background:linear-gradient(to bottom, #468ccf 5%, #63b8ee 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#468ccf', endColorstr='#63b8ee',GradientType=0);
	background-color:#468ccf;
}
.add_entry_button_style-1:active {
	position:relative;
	top:1px;
} */
.add_entry_button_style-1:hover{
    background-color: rgb(216, 216, 216);
}

.add_bar{
    height:50px;
    width:1%;
    float:left;
    background-color: rgb(49, 197, 255);
}

/* .add_bar{
    height:30px;
    width:1px;
    float:left;
    background-color: rgb(211, 255, 238);
} */
.space20{
    height:20px;
}
.space34{
    height:34px;
}



.login-bar{
    float:right;
    font-family: "Raleway Dots";
    margin-top:15px;
    font-size:30px;
}

.select-button-1{
    float:right;
    background: url("images/select_icon.png");
    background-position: 4px 4px;
    background-size:32px 32px;
    background-repeat: no-repeat;
    opacity: 0.4;
    height: 40px;
    width:40px;
    margin-right:5px;
    margin-top:5px;
    border:none;
    border-radius:5px;
    cursor: pointer;
}
.select-button-2{
    float:right;
    background: url("images/edit_icon.png");
    background-position: 9px 9px;
    background-size:22px 22px;
    background-repeat: no-repeat;
    opacity: 0.4;
    height: 40px;
    width:40px;
    margin-right:5px;
    margin-top:5px;
    border:none;
    border-radius:5px;
    cursor: pointer;
}
.select-button-3{
    float:right;
    background: url("images/info_icon.png");
    background-position: 7px 7px;
    background-size:26px 26px;
    background-repeat: no-repeat;
    opacity: 0.4;
    height: 40px;
    width:40px;
    margin-right:5px;
    margin-top:5px;
    border:none;
    border-radius:5px;
    cursor: pointer;
}
.select-button-1:hover, .select-button-2:hover, .select-button-3:hover{
    background-color:rgb(132, 206, 235);
    opacity: 1;
}
.sort-by{
    float:right;
    margin-right:20px; 
    line-height:14px; 
    padding:12px;
}
#triangle-2{
    overflow: hidden;
    width: 100%;
    height: 700px;

    background: linear-gradient(#1488CC,#2B32B2);
    clip-path: polygon(0% 0%, 100% 0 , 100% 100%);
}
.section-1-2{
    width:100%;
    height:850px;
    margin-bottom:0;
    background: linear-gradient(#2B32B2,#1488CC);
    background:cover;
    overflow: hidden;
    font-family: 'Josefin Sans', sans-serif;
}