#timekeeping-app-popup-info-container {
    margin:0 auto;
}
#timekeeping-app-popup-info-left{
    float:left;
}
#timekeeping-app-popup-info-right{
    float:right;
}

#timekeeping-app-popup-info-words{
    padding:0;color:black; 
    font-size:20px; 
    line-height:48px;
    padding-left:10px;
    padding-right:10px;
}

#timekeeping-app-popup-info-checkmark{
    height:32px;
    width:32px;
    padding-left:10px;
    padding-right:10px;
}
#popup-info-modal-create{
    position: fixed;
    display:none;
    top:5px; 
    right:5px;
    z-index: 11;
    background-color:white;
}

#popup-info-modal-update{
    position: fixed;
    display:none;
    top:70px; 
    right:40px;
    z-index: 11;
    background-color:white;
}


#timekeeping-app-popup-info{
    height:50px;
    background-color:#fff;
    z-index:6; 
    border-radius:5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}