.company-header-display-07082020-index_company_name_box2 {
  width: 100%;
  border-radius: 0 0 400px 400px;
  height: 50px;
  background-color: rgb(252, 250, 250);
  color: rgb(0, 0, 0);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.49);
}
#company-header-display-07082020-company_name_header {
  width: 87%;
  margin: 0 auto;
  overflow: hidden;
  text-overflow: ellipsis;
}
#company-header-display-07082020-company_name_header {
  font-size: 18px;
}
@media only screen and (min-width: 400px) {
  #company-header-display-07082020-company_name_header {
    font-size: 22px;
  }
}
@media only screen and (min-width: 600px) {
  #company-header-display-07082020-company_name_header {
    font-size: 28px;
  }
}
@media only screen and (min-width: 800px) {
  #company-header-display-07082020-company_name_header {
    font-size: 32px;
  }
}
